<h2 id="naslov">Prijava</h2>

<form id="form" (ngSubmit)="login()">
  
  <input id="inputa" type="email" [(ngModel)]="email" name="email" required placeholder="Email" />
  <br>
  <input id="inputb" type="password" [(ngModel)]="password" name="password" required placeholder="Šifra" />
  <br>
  <button id="btn" type="submit">Prijavi se</button>
  <br>
  <div *ngIf="error" style="color: red;">{{ error }}</div>
  <p>Nemate nalog?</p>
  <button id="btn2" type="button" routerLink="/register">Registrujte se</button>
</form>