div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div a {
  background:rgba(167, 74, 255, 0.973);
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.15rem;
  border-radius: 10rem;
  font-weight: 600;
  color: whitesmoke
}

div a:hover {
  background-color: rgba(66, 116, 255, 0.9);
}

a .active {
  background-color:rgba(167, 74, 255, 0.973);
}