<header>
    <div class="container">
        <a routerLink="/" class="logo">Filmovita</a>
            <nav>
                <ul>

                    <li>
                        <a routerLink="./login-page" *ngIf="!userLoggedIn">Login</a>
                        <a routerLink="/" (click)="logout()" *ngIf="userLoggedIn">Logout</a>
                    </li>

                    <li class="menu-container" *ngIf="userLoggedIn">
                        <a routerLink="/profil">User</a>
                    </li>
                    
                    <li>
                        <a routerLink="./cart-page" *ngIf="userLoggedIn"> Cart <span>{{cartItemCount}}</span> </a>
                    </li>

                </ul>
            </nav>
        </div> 
</header>