<header>
    <div class="container">
        <a routerLink="/" class="logo">Filmovita</a>
            <nav>
                <ul>

                    <li>
                        <a routerLink="./login-page" *ngIf="!userLoggedIn">Login</a>
                        <a routerLink="./logout-page" *ngIf="userLoggedIn">Logout</a>
                    </li>

                    <li class="menu-container" *ngIf="userLoggedIn">
                        <a routerLink="/dashboard">User</a>

                        <div class="menu">
                            <a routerLink="/profile">Profile</a>
                            <a routerLink="/orders">Orders</a>
                            <a>Logout</a>
                        </div>

                    </li>
                    
                    <li>
                        <a routerLink="./cart-page" *ngIf="userLoggedIn"> Cart <span>{{cartItemCount}}</span> </a>
                    </li>

                </ul>
            </nav>
        </div> 
</header>