/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

*{
  box-sizing: border-box;
}

html{
  font-size:16px;
}

html,
button{
  font-family: "Quicksand", "sans-serif";
}

body{
  margin: 0;
  background-image: url('/assets/WebsiteBackground.jpg');
       filter: background-brightness(5%) background-saturate(240%);
       background-position: relative;
       height: 100%;
       background-size: cover;
       background-repeat: no-repeat;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

h1{
  color: whitesmoke;
}
